body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
}

a {
  color: #337ab7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header h1 {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}

nav {
  text-align: right;

  li {
    display: inline;

    a {
      padding: 10px;
    }
  }
}

.layout-container {
  max-width: 600px;
  margin: 0 auto;
}

.post-meta,
.read-more {
  text-align: right;
}

article {
  margin-bottom: 3rem;
}

.post-content {
  padding-bottom: 1rem;
}

.comment {
  margin-bottom: 1rem;
}

.comment-meta {
  text-align: right;
}

.comment-body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 639px) {
  .layout-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
